body {
  width: 100%;
  font-size: 16px;
}

/* header
-global navigation
*/
header {
  width: calc(100% - 40px);
  margin: 0 auto;
  padding: 50px 0;
}

/* global navigation */
.gnav__list-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.gnav__list-box__item a {
  text-decoration: none;
}

/* header end */
/* main
- works list
- ttl 1
*/
main {
  width: calc(100% - 40px);
  min-height: calc(100vh - 200px);
  margin: 0 auto;
}

/* works list */
.works-list {
  margin-left: 1.5rem;
}

.works-list__item {
  margin-top: 1rem;
}

/* ttl 1 */
.ttl-1 {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  font-size: 1.5rem;
  border-left: solid 5px #444;
  border-bottom: solid 1px #444;
}

/* main end */
/* footer
- copy right
*/
footer {
  width: calc(100% - 40px);
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

/* copy right */
.copy-right {
  font-size: 0.8rem;
}
/*# sourceMappingURL=style.css.map */